.chassis .button {
	display: inline-block;

	@chassis inline-layout;

	background: var(--button-bg-color, var(--blue));

	border: none;
	border-radius: var(--button-border-radius, var(--default-border-radius));

	outline: none;

	/* --Border Stuff-- */

	vertical-align: middle;

	font-family: var(--button-font-family, inherit);
	font-weight: var(--button-font-weight, normal);
	font-style: var(--button-font-style, normal);
	font-variant: var(--button-font-variant, normal);

	text-align: center;
	text-decoration: var(--button-text-decoration, none);
	text-transform: var(--button-text-transform, normal);

	color: var(--button-text-color, var(--white));

	cursor: pointer;

	@chassis disable-text-selection;
}

.chassis .button:visited {
	background: var(--visited-button-bg-color, var(--blue));

	/* --Border Stuff-- */

	font-family: var(--button-font-family, inherit);
	font-weight: var(--button-font-weight, normal);
	font-style: var(--button-font-style, normal);
	font-variant: var(--button-font-variant, normal);

	text-align: center;
	text-decoration: var(--button-text-decoration, none);
	text-transform: var(--button-text-transform, normal);

	color: var(--button-text-color, var(--white));
}

.chassis .button:hover {
	background: var(--hover-button-bg-color, rgb(0,162,245));

	/* --Border Stuff-- */

	font-family: var(--button-font-family, inherit);
	font-weight: var(--button-font-weight, normal);
	font-style: var(--button-font-style, normal);
	font-variant: var(--button-font-variant, normal);

	text-align: center;
	text-decoration: var(--button-text-decoration, none);
	text-transform: var(--button-text-transform, normal);

	color: var(--button-text-color, var(--white));
}

.chassis .button:active {
	background: var(--active-button-bg-color, rgb(0,145,220));

	/* --Border Stuff-- */

	font-family: var(--button-font-family, inherit);
	font-weight: var(--button-font-weight, normal);
	font-style: var(--button-font-style, normal);
	font-variant: var(--button-font-variant, normal);

	text-align: center;
	text-decoration: var(--button-text-decoration, none);
	text-transform: var(--button-text-transform, normal);

	color: var(--button-text-color, var(--white));
}

.chassis .disabled.button {
	opacity: var(--disabled-button-opacity, .382);
	color: var(--button-text-color, var(--white));
	pointer-events: none;
}

.chassis .button:focus {
	outline: none;
}
