.chassis .overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@detailer z-index overlay;

	display: flex;
	justify-content: var(--overlay-content-horizontal-alignment, center);
	align-items: var(--overlay-content-vertical-alignment, center);

	height: 100vh;
	width: 100vw;

	min-width: 100vw;
	max-width: 100vw;

	min-height: 100vh;
	max-height: 100vh;

	background-color: var(--overlay-bg-color, rgba(0,0,0,0.8));
	background-image: var(--overlay-bg-image, none);
	background-blend-mode: var(--overlay-bg-blend-mode, normal);
}
