.chassis table {
	table-layout: fixed;

	@chassis block-layout no-padding;
	width: 100%;

	background-color: var(--table-bg-color, --root-bg-color);

	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.chassis table th,
.chassis table td {
	@chassis inline-layout no-margin multi-line;
	overflow: hidden;
	vertical-align: top;

	text-align: left;
	text-overflow: ellipsis;
}

.chassis table caption {
	font-weight: var(--table-caption-font-weight, initial);
	text-align: left;
}

.chassis table thead {
	position: sticky;
	top: 0;

	background-color: var(--table-bg-color, --root-bg-color);

	border-bottom: var(--table-header-border-thickness, 0) var(--table-border-style, solid) var(--table-border-color, grey);
	box-shadow: 0 var(--table-header-border-thickness, 0) 0 0 var(--table-border-color, grey);
}

.chassis table tfoot {
	border-top: var(--table-footer-border-thickness, 0) var(--table-border-style, solid) var(--table-border-color, grey);
}

.chassis table tr td {
	border-bottom: var(--table-cell-border-thickness, 1px) var(--table-border-style, solid) var(--table-border-color, grey);
}

.chassis table tr:last-child td {
	border-bottom: 0;
}
