.tag {
	default {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		background: var(--tag-bg-color, var(--grey-n05));

		border: none;
		border-radius: var(--tag-border-radius, var(--default-border-radius));

		outline: none;

		/* Border Stuff */
		@chassis inline-layout no-margin no-line-height;
		@chassis set-typography small;
		
		vertical-align: middle;

		font-family: var(--tag-font-family, inherit);
		font-weight: var(--tag-font-weight, inherit);
		font-style: var(--tag-font-style, inherit);
		font-variant: var(--tag-font-variant, inherit);

		text-align: center;
		text-decoration: var(--tag-text-decoration, inherit);
		text-transform: var(--tag-text-transform, inherit);

		color: var(--tag-text-color, var(--white));
	}
}
