body {
	font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	color: rgb(68,68,68);
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

h4 {
	font-weight: 700;
}

h5 {
	font-weight: 700;
}

h6 {
	font-weight: 700;
}

a {
	color: hsl(200,100%,45%);

	hover {
		color: hsl(200,100%,50%);
		text-decoration: underline;
	}

	active {
		color: hsl(200,100%,40%);
	}

	disabled {
		color: rgb(192,192,192);
		text-decoration: none;
	}
}

button {
	background: hsl(200,100%,45%);
	border-radius: .236em;
	color: white;

	hover {
		background: hsl(200,100%,50%);
	}
	
	active {
		background: hsl(200,100%,40%);
	}

	disabled {
		opacity: .382;
	}
	
	icon {
		stroke: white;
	}
	
	variants {
		tag {
			border: 2px solid green;
		}
		
		class {
			border: 2px solid yellow;
		}
	}
}

tag {
	background: hsl(89,82%,40%);
	border-radius: .236em;
	color: white;
}

overlay {
	background: black;
}

modal {
	background: white;
}
