custom-properties {
	--black: rgb(0,0,0);
	--white: rgb(255,255,255);
	--red: hsl(11,74%,54%);
	--green: hsl(89,82%,40%);
	--blue: hsl(200,100%,47%);
	--yellow: hsl(55,100%,64%);

	--font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	--text-color: rgb(68,68,68);
}

body {
	font-family: var(--font-family);
	color: var(--text-color);
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

h4 {
	font-weight: 700;
}

h5 {
	font-weight: 700;
}

h6 {
	font-weight: 700;
}

legend {
	font-weight: 700;
}

link {
	color: var(--blue);
	border: 10px solid red;

	hover {
		color: color(var(--blue) lightness(50%));
		text-decoration: underline;
	}

	active {
		color: color(var(--blue) lightness(44%));
	}

	disabled {
		color: var(--grey-n04);
		text-decoration: none;
	}
}

button {
	background: var(--blue);
	border-radius: .236em;
	color: var(--white);

	hover {
		background: color(var(--blue) lightness(50%));
	}

	active {
		background: color(var(--blue) lightness(44%));
	}

	disabled {
		opacity: .382;
	}

	icon {
		stroke: currentColor;
	}
}

button-link {
	background: var(--blue);
	border-radius: .236em;
	color: var(--white);

	hover {
		background: color(var(--blue) lightness(50%));
	}

	active {
		background: color(var(--blue) lightness(44%));
	}

	disabled {
		opacity: .382;
	}

	icon {
		stroke: currentColor;
	}
}

tag {
	background: var(--green);
	border-radius: .236em;
	color: var(--white);

	icon {
		stroke: currentColor;
	}
}

overlay {
	background: var(--black);
}

modal {
	background: var(--white);
}
