/* NOTE: This ruleset must be independent of other selectors */
::-webkit-file-upload-button {
	padding: 0;
	border: 0;
	background: none;
}

.chassis ::-webkit-input-placeholder, /* Chrome/Safari/Opera */
.chassis ::-ms-input-placeholder /* Edge */ {
	color: var(--form-fields-placeholder-color, var(--grey-n05));
}

.chassis ::placeholder {
	color: var(--form-fields-placeholder-color, var(--grey-n05));
}
