/* NGN Chassis PostCSS
 * Helper Classes

 * These classes can be injected with javascript

 * Add !important to rules that absolutely must overwrite any other styles. */
/*----------------------------------------------------------------------------*/

.hidden {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

/* Limit width of a container to the min and max UI widths
 * <div class="width-constraint"> should be placed inside elements that span the
 * full width of the viewport to maintain proper UI dimensions

 * For  elements that need to be constrained to the max UI width
 * (e.g. inner containers on top-level elements, etc.) */

@define-mixin width-constraint $min-width: getUiMinWidth(), $max-width: getUiMaxWidth(), $has-padding: true {
	$ui-gutter: getUiGutter();

	width: 100%;
	min-width: $min-width !important;
	max-width: $max-width !important;
	margin: 0 auto;

	@if $has-padding == true {
		padding-left: $ui-gutter;
	  padding-right: $ui-gutter;
	}

	@media screen and (max-width: $min-width) {
		padding-left: calc((strip($min-width) * (strip($ui-gutter) / 100)) * 1px);
		padding-right: calc((strip($min-width) * (strip($ui-gutter) / 100)) * 1px);
	}

	@media screen and (min-width: $max-width) {
		padding-left: calc((strip($max-width) * (strip($ui-gutter) / 100)) * 1px);
		padding-right: calc((strip($max-width) * (strip($ui-gutter) / 100)) * 1px);
	}
}

.width-constraint {
	@mixin width-constraint;
}
