@chassis init;

.showroom {
  @chassis constrain-width;
}

@chassis below-viewport-width tiny {
  .showroom {
    background: yellow;
  }
}

@chassis min-viewport-width tiny {
  .showroom {
    background: orange;
  }
}

@chassis at-viewport-width small {
  .showroom {
    background: red;
  }
}

@chassis min-viewport-width medium {
  .showroom {
    background: purple;
  }
}

@chassis above-viewport-width medium {
  .showroom {
    background: blue;
  }
}
