@chassis init;

@detailer include button icon form modal overlay table tag test;

.custom.test {
	@detailer extend button {
		default {
			background: green;
		}

		hover {
			background: yellow;
		}
	};
}

.showroom {
	/* Account for sticky footer */
	padding-bottom: 3.618em;

	/* Component: Header */
	& > header {
		padding: 1.46em 0 .90169942em;
		border-bottom: 4px solid var(--grey-n00);

		& h1 {
			flex: 1;
			margin: 0;

			@chassis set-typography large;
			color: var(--grey-n05);
		}

		& .links {
			display: flex;
			align-items: center;

			& a {
				margin-left: 1em;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		@chassis media-query min medium {
			padding-top: 2.36em;

			& .width-constraint {
				display: flex;
			}
		}
	}
	/* End: Header */

	/* Component: Sidebar */
	& .sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;

		margin: 0;
		@chassis hide;

		& nav a {
			display: block;
			@chassis inline-layout no-margin;

			&:not(:first-child) {
				box-shadow: 0 -1px 0 0 var(--grey-n02);
			}

			&:hover {
				background: var(--blue);
				box-shadow: none;

				color: var(--white);
				text-decoration: none;

				& + a {
					box-shadow: none;
				}
			}

			&:active {
				background: rgb(0,145,220);
			}
		}

		@chassis media-query min medium {
			flex: 1 0 25%;
			@chassis show;
			@chassis block-layout no-padding;
		}
	}
	/* End: Sidebar */

	/* Component: Content */
	& .content {
		& > section {
			& h1 {
				box-shadow: inset 0 -1px 0 0 var(--grey-n03);
			}

			&.buttons {
				& .outlined.button {
					background: red;

					/*@detailer extend button {

					}*/

					border: 1px solid blue;
				}
			}

			&.table {
				& table {
					@detailer stack-below small;
				}

				& th {
					@chassis ellipsis;
				}
			}
		}

		@chassis media-query min medium {
			padding: 0 0 0 3.82vw;
		}
	}
	/* End: Content */

	/* Component: Footer */
	& > footer {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		padding: 1em 0;

		background: var(--white);
		box-shadow: inset 0 1px 0 0 var(--grey-n05);

		text-align: center;
	}
	/* End: Footer */

	/* Component: Range Indicator */
	& .range {
		@chassis hide;
		font-weight: var(--bold);

		@chassis media-query below tiny {
			&.below-min {
				@chassis show inline;
			}
		}

		@chassis media-query at tiny {
			&.tiny {
				@chassis show inline;
			}
		}

		@chassis media-query at small {
			&.small {
				@chassis show inline;
			}
		}

		@chassis media-query at medium {
			&.medium {
				@chassis show inline;
			}
		}

		@chassis media-query at large {
			&.large {
				@chassis show inline;
			}
		}

		@chassis media-query at huge {
			&.huge {
				@chassis show inline;
			}
		}

		@chassis media-query above huge {
			&.above-max {
				@chassis show inline;
			}
		}
	}
	/* End: Range Indicator */

	/* Component: Code Block ---------------------------------------------------- */
	& pre.code {
		@chassis block-layout;

		background: #fafafa;
		box-shadow: 0 0 0 1px var(--grey-n03);
		border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;

		font-family: Consolas, Courier New, monospace;

		white-space: pre-wrap;
		word-wrap: break-word;

		&:before {
			display: block;
			color: var(--grey-n05);
		}

		&.html:before {
			content: 'HTML:';
		}

		&.css:before {
			content: 'CSS:';
		}

		&.javascript:before {
			content: 'JavaScript:';
		}
	}
	/* End: Code Block */
}

/* Singletons --------------------------------------------------------------- */
main {
	padding-top: 2em;
	@chassis constrain-width;

	@chassis media-query min medium {
		display: flex;
		align-items: flex-start;

		padding-top: 3.82em;
	}
}
