:root {
	/* Colors ------------------------------------------------------------------*/

	--white : rgba(255,255,255,1);
	--black : rgba(0,0,0,1);

	--red   : red;
	--green : rgba(104,187,18,1);
	--blue  : rgba(0,152,230,1);


	/* Global ------------------------------------------------------------------*/

	--root-bg-color     : var(--white);
	--text-color        : rgba(68,68,68,1);
	--tile-gutter-color : transparent;


	/* Typography --------------------------------------------------------------*/

	--font-family  : Helvetica, Arial, sans-serif;
	--font-weight  : var(--regular);
	--font-style   : normal;
	--font-variant : normal;


	/* Links -------------------------------------------------------------------*/

	--link-color               : var(--blue);
	--link-transform           : none;
	--link-decoration          : none;

	--visited-link-color       : var(--link-color);

	--hover-link-decoration    : underline;
	--hover-link-color         : var(--link-color);

	--active-link-color        : var(--link-color);

	--disabled-link-color      : var(--grey-n04);


	/* Headings ----------------------------------------------------------------*/

	--h1-weight        : var(--bold);
	--h2-weight        : var(--h1-weight);
	--h3-weight        : var(--h1-weight);
	--h4-weight        : var(--semibold);
	--h5-weight        : var(--h4-weight);
	--h6-weight        : var(--h4-weight);

/*
	// :: Buttons ------------------------------------------------------------------
	--default-button-fonts                    : --font-family                !default;
	--default-button-text-color               : rgb(255,255,255)            !default;
	--default-button-font-weight              : --regular                    !default;
	--default-button-font-style               : normal                      !default;
	--default-button-font-variant             : normal                      !default;
	--default-button-text-decoration          : none                        !default;
	--default-button-text-transform           : none                        !default;

	--default-button-bg-color                 : --blue                       !default;

	--default-button-has-border               : false                       !default;
	--default-button-border-thickness         : 0px                         !default;
	--default-button-border-color             : transparent                 !default;
	--default-button-border-radius            : --default-border-radius      !default;

	--default-button-box-shadow               : ()                          !default;
	// Example:
	// --default-button-box-shadow : (
	// 	3px 3px 3px 3px black,
	// 	-3px -3px 3px 3px red
	// );

	--visited-default-button-fonts            : --font-family                !default;
	--visited-default-button-text-color       : --default-button-text-color  !default;
	--visited-default-button-font-weight      : --regular                    !default;
	--visited-default-button-font-style       : normal                      !default;
	--visited-default-button-font-variant     : normal                      !default;
	--visited-default-button-text-decoration  : none                        !default;
	--visited-default-button-text-transform   : none                        !default;

	--visited-default-button-bg-color         : --default-button-bg-color    !default;

	--visited-default-button-has-border       : false                       !default;
	--visited-default-button-border-thickness : 0px                         !default;
	--visited-default-button-border-color     : transparent                 !default;

	--visited-default-button-box-shadow       : ()                          !default;

	--hover-default-button-fonts              : --font-family                !default;
	--hover-default-button-text-color         : --default-button-text-color  !default;
	--hover-default-button-font-weight        : --regular                    !default;
	--hover-default-button-font-style         : normal                      !default;
	--hover-default-button-font-variant       : normal                      !default;
	--hover-default-button-text-decoration    : none                        !default;
	--hover-default-button-text-transform     : none                        !default;

	--hover-default-button-bg-color           : lighten(--default-button-bg-color, 3%) !default;

	--hover-default-button-has-border         : false                       !default;
	--hover-default-button-border-thickness   : 0px                         !default;
	--hover-default-button-border-color       : transparent                 !default;

	--hover-default-button-box-shadow         : ()                          !default;

	--active-default-button-fonts             : --font-family                !default;
	--active-default-button-text-color        : --default-button-text-color  !default;
	--active-default-button-font-weight       : --regular                    !default;
	--active-default-button-font-style        : normal                      !default;
	--active-default-button-font-variant      : normal                      !default;
	--active-default-button-text-decoration   : none                        !default;
	--active-default-button-text-transform    : none                        !default;

	--active-default-button-bg-color          : darken(--default-button-bg-color, 2%) !default;

	--active-default-button-has-border        : false                       !default;
	--active-default-button-border-thickness  : 0px                         !default;
	--active-default-button-border-color      : transparent                 !default;

	--active-default-button-box-shadow        : ()                          !default;

	--disabled-default-button-opacity         : .382                        !default;


	// :: Icons --------------------------------------------------------------------
	--icon-color                              : --text-color                 !default;
	--icon-size-multiplier                    : --type-scale-ratio           !default;
	--icon-square-dimension                   : --icon-size-multiplier * 1em !default;
	--icon-width                              : --icon-square-dimension      !default;
	--icon-height                             : auto                        !default;


	// :: Tags ---------------------------------------------------------------------
	--default-tag-fonts                       : --font-family                !default;
	--default-tag-text-color                  : rgb(255,255,255)            !default;
	--default-tag-font-weight                 : --regular                    !default;
	--default-tag-font-style                  : normal                      !default;
	--default-tag-font-variant                : normal                      !default;
	--default-tag-text-decoration             : none                        !default;
	--default-tag-text-transform              : none                        !default;

	--default-tag-bg-color                    : --grey-n05                   !default;

	--default-tag-has-border                  : false                       !default;
	--default-tag-border-thickness            : 0px                         !default;
	--default-tag-border-color                : transparent                 !default;
	--default-tag-border-radius               : --default-border-radius      !default;

	--default-tag-box-shadow                  : ()                          !default;
	// Example:
	// --default-tag-box-shadow : (
	// 	3px 3px 3px 3px black,
	// 	-3px -3px 3px 3px red
	// );


	// :: Overlay ------------------------------------------------------------------

	--overlay-bg-color                     : --black !default;
	--overlay-bg-opacity                   : .8     !default;
	--overlay-bg-image                     : none   !default;
	--overlay-bg-blend-mode                : normal !default;

	--overlay-content-vertical-alignment   : center !default;
	--overlay-content-horizontal-alignment : center !default;


	// :: Modal --------------------------------------------------------------------

	--modal-bg-color                       : --white !default;
	--modal-vertical-alignment             : center !default;


	// :: Forms --------------------------------------------------------------------

	--form-layout-gutter               : 1.91vw           !default;
	--form-layout-mobile-breakpoint    : small            !default;

	--form-fields-border-radius        : 0 !default;

	--form-legend-fonts                : --font-family     !default;
	--form-legend-font-weight          : --bold            !default;
	--form-legend-font-style           : normal           !default;
	--form-legend-font-variant         : normal           !default;
	--form-legend-text-decoration      : none             !default;
	--form-legend-text-transform       : none             !default;

	--form-fields-fonts                : --font-family     !default;
	--form-fields-font-weight          : --regular         !default;
	--form-fields-font-style           : normal           !default;
	--form-fields-font-variant         : normal           !default;
	--form-fields-text-color           : --text-color      !default;
	--form-fields-text-decoration      : none             !default;
	--form-fields-text-transform       : none             !default;

	--form-fields-placeholder-color    : --grey-n05        !default;

	--form-fields-bg-color             : --white           !default;
	--form-fields-border-color         : rgb(188,189,193) !default;
	--form-fields-focus-ring-color     : --blue            !default;

	--form-fields-button-bg-color      : transparent      !default;
	--form-fields-button-text-color    : --grey-n06        !default;
	--form-fields-button-icon-color    : --grey-n06        !default;
	--form-fields-button-border-radius : 0                !default;

	--override-form-fields-button-padding : true          !default;
	--form-fields-button-padding       : 0                !default;

	--form-fields-button-hover-bg-color : transparent     !default;
	--form-fields-button-hover-icon-color : --text-color   !default;
	--form-fields-button-hover-text-color : --text-color   !default;


	--form-fields-box-shadow : (
		inset 0 -1px 0 0 --form-fields-border-color
	) !default;

	--textarea-box-shadow : (
		inset 0 0 0 1px --form-fields-border-color
	) !default;

	--form-fields-focus-box-shadow : (
		inset 0 -2px 0 0 --form-fields-focus-ring-color
	) !default;

	--textarea-focus-box-shadow : (
		inset 0 0 0 2px --form-fields-focus-ring-color
	) !default;

	// --visited-browser-field-button-bg-color : --browser-field-button-bg-color !default;
	// --hover-browser-field-button-bg-color   : transparent !default;
	// --hover-browser-field-button-text-color : --text-color !default;
	// --active-browser-field-button-bg-color  : transparent !default;

	--textarea-resize : none !default;


	// :: Table --------------------------------------------------------------------
	--use-default-table-styles   : true   !default;

	--default-table-bg-color     : --root-bg-color !default;

	--default-table-border-color : --grey-n02 !default;
	--default-table-border-style : solid;

	--default-table-header-border-thickness : 3px !default;
	--default-table-footer-border-thickness : 3px !default;
	--default-table-cell-border-thickness : 1px !default;

	--table-caption-font-weight : --bold !default;

	// :: Toolbars -----------------------------------------------------------------
	--toolbar-bg-color : --grey-n00 !default;

	// :: Dropdown Menus -----------------------------------------------------------
	--toolbar-dropdown-header-bg-color : --grey-n00 !default;
	--toolbar-dropdown-header-hover-bg-color : --grey-n01 !default;
	--toolbar-dropdown-menu-bg-color : --grey-n00 !default;
*/
}
