html {
	background: var(--root-bg-color);
}

.chassis {
	font-family: var(--font-family, inherit);
	font-weight: var(--font-weight, inherit);
	font-style: var(--font-style, inherit);
	font-variant: var(--font-variant, inherit);

	color: var(--text-color, inherit);
}

.chassis a {
	font-family: var(--link-fonts, inherit);
	font-weight: var(--link-weight, inherit);
	font-style: var(--link-style, inherit);
	font-variant: var(--link-variant, inherit);

	text-decoration: var(--link-decoration, inherit);
	text-transform: var(--link-transform, inherit);

	color: var(--link-color, inherit);
}

.chassis a:visited {
	font-family: var(--visited-link-fonts, inherit);
	font-weight: var(--visited-link-weight, inherit);
	font-style: var(--visited-link-style, inherit);
	font-variant: var(--visited-link-variant, inherit);

	text-decoration: var(--visited-link-decoration, inherit);
	text-transform: var(--visited-link-transform, inherit);

	color: var(--visited-link-color, inherit);
}

.chassis a:hover {
	font-family: var(--hover-link-fonts, inherit);
	font-weight: var(--hover-link-weight, inherit);
	font-style: var(--hover-link-style, inherit);
	font-variant: var(--hover-link-variant, inherit);

	text-decoration: var(--hover-link-decoration, inherit);
	text-transform: var(--hover-link-transform, inherit);

	color: var(--hover-link-color, inherit);
}

.chassis a:active {
	font-family: var(--active-link-fonts, inherit);
	font-weight: var(--active-link-weight, inherit);
	font-style: var(--active-link-style, inherit);
	font-variant: var(--active-link-variant, inherit);

	text-decoration: var(--active-link-decoration, inherit);
	text-transform: var(--active-link-transform, inherit);

	color: var(--active-link-color, inherit);
}

.chassis a.disabled {
	font-family: var(--disabled-link-fonts, inherit);
	font-weight: var(--disabled-link-weight, inherit);
	font-style: var(--disabled-link-style, inherit);
	font-variant: var(--disabled-link-variant, inherit);

	text-decoration: var(--disabled-link-decoration, inherit);
	text-transform: var(--disabled-link-transform, inherit);

	color: var(--disabled-link-color, inherit);

	pointer-events: none;
}

.chassis h1 {
	font-family: var(--h1-fonts, inherit);
	font-weight: var(--h1-weight, inherit);
	font-style: var(--h1-style, inherit);
	font-variant: var(--h1-variant, inherit);

	text-decoration: var(--h1-decoration, inherit);
	text-transform: var(--h1-transform, inherit);

	color: var(--h1-color, inherit);
}

.chassis h2 {
	font-family: var(--h2-fonts, inherit);
	font-weight: var(--h2-weight, inherit);
	font-style: var(--h2-style, inherit);
	font-variant: var(--h2-variant, inherit);

	text-decoration: var(--h2-decoration, inherit);
	text-transform: var(--h2-transform, inherit);

	color: var(--h2-color, inherit);
}

.chassis h3 {
	font-family: var(--h3-fonts, inherit);
	font-weight: var(--h3-weight, inherit);
	font-style: var(--h3-style, inherit);
	font-variant: var(--h3-variant, inherit);

	text-decoration: var(--h3-decoration, inherit);
	text-transform: var(--h3-transform, inherit);

	color: var(--h3-color, inherit);
}

.chassis h4 {
	font-family: var(--h4-fonts, inherit);
	font-weight: var(--h4-weight, inherit);
	font-style: var(--h4-style, inherit);
	font-variant: var(--h4-variant, inherit);

	text-decoration: var(--h4-decoration, inherit);
	text-transform: var(--h4-transform, inherit);

	color: var(--h4-color, inherit);
}

.chassis h5 {
	font-family: var(--h5-fonts, inherit);
	font-weight: var(--h5-weight, inherit);
	font-style: var(--h5-style, inherit);
	font-variant: var(--h5-variant, inherit);

	text-decoration: var(--h5-decoration, inherit);
	text-transform: var(--h5-transform, inherit);

	color: var(--h5-color, inherit);
}

.chassis h6 {
	font-family: var(--h6-fonts, inherit);
	font-weight: var(--h6-weight, inherit);
	font-style: var(--h6-style, inherit);
	font-variant: var(--h6-variant, inherit);

	text-decoration: var(--h6-decoration, inherit);
	text-transform: var(--h6-transform, inherit);

	color: var(--h6-color, inherit);
}
