font-family: var(--h5-fonts, inherit);
font-weight: var(--h5-weight, bold);
font-style: var(--h5-style, inherit);
font-variant: var(--h5-variant, inherit);

text-decoration: var(--h5-decoration, inherit);
text-transform: var(--h5-transform, inherit);

color: var(--h5-color, inherit);
