.button {
	default {
		display: inline-block;
		@chassis inline-layout;
		vertical-align: middle;

		background: var(--button-bg-color, var(--blue));

		border: none;
		border-radius: var(--button-border-radius, var(--default-border-radius));
		outline: none;
		box-shadow: var(--button-box-shadow, 0);

		font-family: var(--button-font-family, inherit);
		font-weight: var(--button-font-weight, normal);
		font-style: var(--button-font-style, normal);
		font-variant: var(--button-font-variant, normal);

		text-align: center;
		text-decoration: var(--button-text-decoration, none);
		text-transform: var(--button-text-transform, normal);

		color: var(--button-text-color, var(--white));
		cursor: pointer;
		@chassis disable-text-selection;
	}

	hover {
		background: rgb(0,162,245);
	}

	active {
		background: rgb(0,145,220);
	}

	disabled {
		opacity: var(--disabled-button-opacity, .382);
		pointer-events: none;
	}

	focus {
		outline: none;
	}
}
