.modal {
	default {
		@detailer z-index modal;
		overflow: auto;

		align-self: var(--modal-vertical-alignment, center);

		width: 61.8vw;

		/*min-width: $ui-min-width;
		max-width: calc(#{$ui-max-width} - #{$ui-gutter * 2});*/
		max-height: 100vh;

		background: var(--modal-bg-color, var(--white));
	}
}
