/* Media Queries */

@chassis viewport-width < small {
	
}

@chassis viewport-width <= small {
	
}

@chassis viewport-width = small {
	
}

@chassis viewport-width >= small {
	
}

@chassis viewport-width > small {
	
}

/* Typography */

/* @chassis typography mixin */
.thingie {
	@chassis typography +1;
}

/* OUTPUT */
.thingie {
	font-size: ___em;
	line-height: ___em;
}

@media screen and (min-width: ___px) {
	.thingie {
		line-height: ___em;
	}
}

@media screen and (min-width: ___px) {
	.thingie {
		line-height: ___em;
	}
}

/* more media queries... */
/* END OUTPUT */

.thingie .sub-thingie {
	/* Output a font-size double that of .thingie */
	font-size: 2em;
	
	/* Output a font-size double that of project root */
	font-size: 2rem;
	font-size: 200%;
}
