/* NGN Chassis PostCSS
 * Miscellaneous Mixins */

@define-mixin hide {
  display: none;
	visibility: hidden;
	opacity: 0;
}

@define-mixin show $box-model: block {
	display: $box-model;
	visibility: visible;
	opacity: 1;
}

@define-mixin disable-text-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@define-mixin disable-pointer-events {
	pointer-events: none;
}

@define-mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
