@chassis include button;

:root {
	--grey-n00: rgb(237,237,237);
}

.showroom {
	/* Account for sticky footer */
	padding-bottom: 3.618em;
	
	& .button {
		background: #009cff;
		color: white;
		text-decoration: none;
		border-radius: .236em;
	}

	& > header {
		margin-bottom: 1.618em;
		padding: 1.46em 0 .90169942em;
		border-bottom: 4px solid var(--grey-n00, grey);

		& h1 {
			flex: 1;
			margin: 0 1em 0 0;

			@chassis font-size large;
			/*color: var(--grey-n05);*/
		}

		& .links {
			display: flex;
			align-items: center;

			& a {
				margin-left: 1em;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		@chassis viewport-width from medium {
			padding-top: 2.36em;

			& .width-constraint {
				display: flex;
			}
		}
	}
}
