@chassis import properties.css;

/*@chassis include link button button-link tag table svg-icon overlay modal;*/

.showroom {
	padding-bottom: 3.618em;
	
	@chassis import partials/overrides.css;
	@chassis import partials/header.css;
	@chassis import partials/sidebar.css;
	@chassis import partials/footer.css;
	
	transition: all ease-in-out .382s;

	& .content {
		flex: 1 1 76.4%;

		& > section {
			& section header {
				margin-bottom: 1em;
			}

			&.ui-components {
				@chassis import partials/sections/buttons.css;
			}
		}

		@chassis viewport-width from medium {
			padding-left: 6.18%;
		}
	}
}

@chassis import singletons.css;
