:root {
	--header-border-color: rgb(237,237,237);
	--footer-border-color: var(--header-border-color);
	--sidebar-link-border-color: var(--header-border-color);
}

@chassis include button link modal overlay svg-icon tag;

.showroom {
	padding-bottom: 3.618em;
	
	& h2 {
		border-bottom: 1px solid var(--header-border-color);
		@chassis font-size larger;
	}
	
	& h3 {
		@chassis font-size large;
	}
	
	& code {
		background: rgb(240,240,240);
		border-radius: .236em;
		font-family: monospace;
		color: rgb(96,96,96);
		
		&:before,
		&:after {
			letter-spacing: -0.2em;
    	content: "\00a0";
		}
	}

	& > header {
		margin-bottom: 3.82em;
		padding: 1.46em 0 .90169942em;
		border-bottom: 4px solid var(--header-border-color);

		& h1 {
			flex: 1;
			margin: 0 1em 0 0;

			@chassis font-size large;
		}

		& .links {
			display: flex;
			align-items: center;

			& a {
				margin-left: 1em;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		@chassis viewport-width from medium {
			padding-top: 2.36em;

			& .width-constraint {
				display: flex;
			}
		}
	}

	& .sidebar {
    position: sticky;
    top: 0;

    display: none;
		margin: 0;

    & nav a {
      display: block;
			@chassis inline-block-layout no-margin multi-line;

      &:not(:first-child) {
        box-shadow: 0 -1px 0 0 var(--sidebar-link-border-color);
      }

      &:hover {
				background: var(--blue);
        box-shadow: none;
        color: white;
        text-decoration: none;

        & + a {
          box-shadow: none;
        }
      }
    }

		@chassis viewport-width from medium {
			flex: 1 0 23.6%;
      display: block;
			min-width: 220px;
    }
  }
	
	& .content {
		flex: 0 0 76.4%;
		
		& > section {
			& section header {
				margin-bottom: 1em;
				
				& code.example {
					display: block;
					background: rgb(244,244,244);
					border: 1px solid rgb(224,224,224);
					@chassis inline-block-layout multi-line no-margin-right;
					
					&:before,
					&:after {
						content: "";
					}
				}
			}
		}
		
		@chassis viewport-width from medium {
			padding: 0 0 0 var(--ui-gutter);
		}
	}
	
	& > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

		display: block;
    padding: 1em 0;

    background: white;
    box-shadow: inset 0 1px 0 0 var(--footer-border-color);

		@chassis font-size small;
    text-align: center;

    & .label {
      font-weight: bold;
    }

    & .range {
      display: none;

			@chassis viewport-width < tiny {
        &.below-min {
          display: inline;
        }
      }

      @chassis viewport-width = tiny {
        &.tiny {
          display: inline;
        }
      }

      @chassis viewport-width = small {
        &.small {
          display: inline;
        }
      }

      @chassis viewport-width = medium {
        &.medium {
          display: inline;
        }
      }

      @chassis viewport-width = large {
        &.large {
          display: inline;
        }
      }

      @chassis viewport-width = huge {
        &.huge {
          display: inline;
        }
      }

			@chassis viewport-width = massive {
        &.massive {
          display: inline;
        }
      }

      @chassis viewport-width > massive {
        &.above-max {
          display: inline;
        }
      }
    }
  }
}

/* Singletons ----------------------------------------------------------------*/

main {
  @chassis constrain-width;

  @chassis viewport-width from medium {
    display: flex;
    align-items: flex-start;
  }
}
