/* Detailer Default Theme --------------------------------------------------- */
/* Colors ------------------------------------------------------------------- */

--white : rgba(255,255,255,1);
--black : rgba(0,0,0,1);

--red   : red;
--green : rgba(104,187,18,1);
--blue  : rgba(0,152,230,1);


/* Global ------------------------------------------------------------------- */

--tile-gutter-color     : transparent;
--default-border-radius : 0.240625em;

/* Headings ----------------------------------------------------------------- */

--h1-weight          : var(--bold);
--h2-weight          : var(--h1-weight);
--h3-weight          : var(--h1-weight);
--h4-weight          : var(--semibold);
--h5-weight          : var(--h4-weight);
--h6-weight          : var(--h4-weight);

--form-legend-weight : var(--h2-weight);


/*--default-tag-has-border                  : false                       !default;
--default-tag-border-thickness            : 0px                         !default;
--default-tag-border-color                : transparent                 !default;
--default-tag-border-radius               : --default-border-radius      !default;

--default-tag-box-shadow                  : ()                          !default;
// Example:
// --default-tag-box-shadow : (
// 	3px 3px 3px 3px black,
// 	-3px -3px 3px 3px red
// );*/


/*
--form-layout-gutter               : 1.91vw           !default;
--form-layout-mobile-breakpoint    : small            !default;

--form-fields-border-radius        : 0 !default;

--form-fields-fonts                : --font-family     !default;
--form-fields-font-weight          : --regular         !default;
--form-fields-font-style           : normal           !default;
--form-fields-font-variant         : normal           !default;
--form-fields-text-color           : --text-color      !default;
--form-fields-text-decoration      : none             !default;
--form-fields-text-transform       : none             !default;

--form-fields-placeholder-color    : --grey-n05        !default;

--form-fields-bg-color             : --white           !default;
--form-fields-border-color         : rgb(188,189,193) !default;
--form-fields-focus-ring-color     : --blue            !default;

--form-fields-button-bg-color      : transparent      !default;
--form-fields-button-text-color    : --grey-n06        !default;
--form-fields-button-icon-color    : --grey-n06        !default;
--form-fields-button-border-radius : 0                !default;

--override-form-fields-button-padding : true          !default;
--form-fields-button-padding       : 0                !default;

--form-fields-button-hover-bg-color : transparent     !default;
--form-fields-button-hover-icon-color : --text-color   !default;
--form-fields-button-hover-text-color : --text-color   !default;


--form-fields-box-shadow : (
	inset 0 -1px 0 0 --form-fields-border-color
) !default;

--textarea-box-shadow : (
	inset 0 0 0 1px --form-fields-border-color
) !default;

--form-fields-focus-box-shadow : (
	inset 0 -2px 0 0 --form-fields-focus-ring-color
) !default;

--textarea-focus-box-shadow : (
	inset 0 0 0 2px --form-fields-focus-ring-color
) !default;

// --visited-browser-field-button-bg-color : --browser-field-button-bg-color !default;
// --hover-browser-field-button-bg-color   : transparent !default;
// --hover-browser-field-button-text-color : --text-color !default;
// --active-browser-field-button-bg-color  : transparent !default;

--textarea-resize : none !default;


// :: Table --------------------------------------------------------------------
--use-default-table-styles   : true   !default;

--default-table-bg-color     : --root-bg-color !default;

--default-table-border-color : --grey-n02 !default;
--default-table-border-style : solid;

--default-table-header-border-thickness : 3px !default;
--default-table-footer-border-thickness : 3px !default;
--default-table-cell-border-thickness : 1px !default;

--table-caption-font-weight : --bold !default;

// :: Toolbars -----------------------------------------------------------------
--toolbar-bg-color : --grey-n00 !default;

// :: Dropdown Menus -----------------------------------------------------------
--toolbar-dropdown-header-bg-color : --grey-n00 !default;
--toolbar-dropdown-header-hover-bg-color : --grey-n01 !default;
--toolbar-dropdown-menu-bg-color : --grey-n00 !default;
*/
