.chassis a:not(.button) {
	font-family: var(--link-fonts, inherit);
	font-weight: var(--link-weight, normal);
	font-style: var(--link-style, normal);
	font-variant: var(--link-variant, normal);

	text-decoration: var(--link-decoration, none);
	text-transform: var(--link-transform, normal);

	color: var(--link-color, var(--blue));
}

.chassis a:not(.button):hover {
	text-decoration: underline;
}

.chassis a:not(.button):active {
	color: rgb(0,145,220);
}

.chassis a:not(.button).disabled {
	color: var(--disabled-link-color, var(--grey-n04));
	pointer-events: none;
}
