font-family: var(--font-family, Helvetica, Arial, sans-serif);
font-weight: var(--font-weight, normal);
font-style: var(--font-style, normal);
font-variant: var(--font-variant, normal);

color: var(--text-color, rgba(68,68,68,1));
