/* Chassis Global Modifiers ------------------------------------------------- */

/* Hide element */
.chassis .hidden,
.chassis [hidden] {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

/* Font Styles */
.chassis .normal-style {
	font-style: normal !important;
}

.chassis .italic-style {
	font-style: italic !important;
}

.chassis .oblique-style {
	font-style: oblique !important;
}

/* Font Variants */
.chassis .normal-variant {
	font-variant: normal !important;
}

.chassis .small-caps-variant {
	font-variant: small-caps !important;
}
