@state default {
  $(selector) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 $(margin-right) $(margin-bottom) 0;
    padding: 0 $(padding-x);
    line-height: $(line-height);
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
  }
}

@state visited {}

@state hover {}

@state active {}

@state disabled {
  $(selector)[disabled], $(selector).disabled {
    pointer-events: none;
  }
}

@state focus {}

@child icon {
  $(selector) svg.icon {
    transform: $(icon-offset);
  }
}

@variant pill {
  $(selector).pill {
    padding-left: $(pill-padding-x);
    padding-right: $(pill-padding-x);
    border-radius: $(pill-border-radius);
  }
}

@variant multi-line {
  $(selector).multi-line {
    padding-top: $(multi-line-padding-y);
    padding-bottom: $(multi-line-padding-y);
    line-height: $(multi-line-line-height);
    white-space: $(multi-line-white-space);
  }
}

@legacy {
  @chassis ie-only {
    $(selector), $(selector):focus, $(selector):active {
      background: none;
      border: none;
      outline: none;
      color: inherit;
    }

    $(selector) span {
      position: relative;
    }
  }
}
