.chassis label {
	display: block;
}

.chassis .label-wrapper,
.chassis .input-wrapper {
	display: flex;
}

.chassis .input-wrapper *:last-child {
	margin-right: 0;
}

.chassis .input-wrapper input[type="date"],
.chassis .input-wrapper input[type="datetime-local"],
.chassis .input-wrapper input[type="email"],
.chassis .input-wrapper input[type="file"],
.chassis .input-wrapper input[type="month"],
.chassis .input-wrapper input[type="number"],
.chassis .input-wrapper input[type="password"],
.chassis .input-wrapper input[type="range"],
.chassis .input-wrapper input[type="search"],
.chassis .input-wrapper input[type="tel"],
.chassis .input-wrapper input[type="text"],
.chassis .input-wrapper input[type="time"],
.chassis .input-wrapper input[type="url"],
.chassis .input-wrapper input[type="week"] {
	flex: 1 1 auto;
	width: 0;
	max-width: 100%;
	margin: 0;
}

/* Border Stuff */
/*.chassis .input-wrapper input:focus ~ .button,
.chassis .input-wrapper input:focus ~ button {
	box-shadow: var(--form-fields-focus-box-shadow, );
}*/

.chassis .input-wrapper textarea {
	flex: 1 1 auto;
	width: 0;
	max-width: 100%;
	margin-bottom: 0;
}

.chassis .input-wrapper textarea:last-child {
	margin-right: 0;
}

.chassis .input-wrapper .button {
	display: flex;
	align-items: center;

	margin: 0;
	padding: 0;

	border-radius: var(--form-fields-button-border-radius, --button-border-radius, 0);
	background: var(--form-fields-button-bg-color, --button-bg-color, var(--blue));

	/* Border Stuff */
	/*box-shadow: $form-fields-box-shadow;*/

	color: var(--form-fields-button-text-color, --button-text-color, inherit);
}

.chassis .input-wrapper .button svg.icon {
	fill: var(--form-fields-button-icon-color, --icon-color, --text-color, grey);
}

.chassis .input-wrapper .button:hover {
	background: var(--form-fields-hover-button-bg-color, --hover-button-bg-color, transparent);
	color: var(--form-fields-hover-button-text-color, --hover-button-text-color, inherit);
}

.chassis .input-wrapper .button:hover svg.icon {
	fill: var(--form-fields-hover-button-icon-color, inherit);
}

.chassis form > *:last-child,
.chassis form fieldset > *:last-child {
	margin-bottom: 0;
}

.chassis form legend {
	font-family: var(--form-legend-fonts, inherit);
	font-weight: var(--form-legend-weight, inherit);
	font-style: var(--form-legend-style, inherit);
	font-variant: var(--form-legend-variant, inherit);

	text-align: center;
	text-decoration: var(--form-legend-decoration, inherit);
	text-transform: var(--form-legend-transform, inherit);

	color: var(--form-legend-color, inherit);
}

.chassis form .field {
	@chassis block-layout no-padding;
}

.chassis form .group {
	@chassis block-layout no-padding;
}

.chassis form .group > header {
	font-weight: var(--form-group-header-font-weight, inherit);
}

.chassis form .group .field {
	margin-bottom: 0;
}

.chassis form .row {
	display: flex;
	flex-direction: column;

	@chassis block-layout no-padding;
}

.chassis form .row > *:last-child {
	margin-bottom: 0;
}

.chassis form .row .group {
	@chassis block-layout no-padding;
}

.chassis form .row .group:last-child,
.chassis form .row .group .field {
	margin-bottom: 0;
}

@detailer generate form-media-queries;
