.chassis input[type="date"],
.chassis input[type="datetime-local"],
.chassis input[type="email"],
.chassis input[type="file"],
.chassis input[type="month"],
.chassis input[type="number"],
.chassis input[type="password"],
.chassis input[type="range"],
.chassis input[type="search"],
.chassis input[type="tel"],
.chassis input[type="text"],
.chassis input[type="time"],
.chassis input[type="url"],
.chassis input[type="week"] {
	@chassis inline-layout;

	background: var(--form-fields-bg-color, rgb(255,255,255));

	/* Border Stuff */
	/*box-shadow: $form-fields-box-shadow;*/

	border: 0;
	border-radius: var(--form-fields-border-radius, 0);
	outline: 0;

	font-family: var(--form-fields-font-family, initial);
	font-weight: var(--form-fields-font-weight, initial);
	font-style: var(--form-fields-font-style, initial);
	font-variant: var(--form-fields-font-variant, initial);

	text-decoration: var(--form-fields-text-decoration, initial);
	text-transform: var(--form-fields-text-transform, initial);

	color: var(--form-fields-text-color, var(--text-color), initial);
}

.chassis input[type="date"]:focus,
.chassis input[type="datetime-local"]:focus,
.chassis input[type="email"]:focus,
.chassis input[type="file"]:focus,
.chassis input[type="month"]:focus,
.chassis input[type="number"]:focus,
.chassis input[type="password"]:focus,
.chassis input[type="range"]:focus,
.chassis input[type="search"]:focus,
.chassis input[type="tel"]:focus,
.chassis input[type="text"]:focus,
.chassis input[type="time"]:focus,
.chassis input[type="url"]:focus,
.chassis input[type="week"]:focus,
.chassis textarea:focus {
	outline: 0;
	/* Border Stuff */
	/*box-shadow: $form-fields-focus-box-shadow;*/
}

.chassis input[type="checkbox"] + label,
.chassis input[type="radio"] + label {
	display: inline-block;
}

.chassis input:placeholder-shown,
.chassis textarea:placeholder-shown {
	color: var(--form-fields-placeholder-color, var(--grey-n05));
}

.chassis textarea {
	@chassis inline-layout multi-line;

	overflow: auto;

	vertical-align: top;
	resize: var(--textarea-resize, none);

	background: var(--textarea-bg-color, var(--form-fields-bg-color), var(--white));

	/* Border Stuff */
	/*box-shadow: $textarea-box-shadow;*/

	border: 0;
	border-radius: var(--textarea-border-radius, var(--form-fields-border-radius), 0);
	outline: 0;

	font-family: var(--textarea-font-family, var(--form-fields-font-family), initial);
	font-weight: var(--textarea-font-weight, var(--form-fields-font-weight), initial);
	font-style: var(--textarea-font-style, var(--form-fields-font-style), initial);
	font-variant: var(--textarea-font-variant, var(--form-fields-font-variant), initial);

	text-decoration: var(--textarea-text-decoration, var(--form-fields-text-decoration), initial);
	text-transform: var(--textarea-text-transform, var(--form-fields-text-transform), initial);

	color: var(--textarea-text-color, var(--form-fields-text-color), var(--text-color), initial);
}

.chassis button {
	@detailer extend button;

	font-family: var(--form-fields-font-family, initial);
	font-weight: var(--form-fields-font-weight, initial);
}

.chassis select[multiple] {
	vertical-align: top;
}
